* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#about-page h1, #about-page h2 {
    color: #333;
}

#about-page p {
    color: #666;
    line-height: 1.6;
}

#about-page ul {
    list-style-type: none;
    padding: 0;
}

#about-page ul li {
    color: #333;
    margin-bottom: 10px;
}
.navbar {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 60px;
    background-color: #343a40;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-menu ul li:hover {
    background-color: #ced4da;
  }
  
  .nav-menu ul li a:hover {
    color: #007bff;
  }
  .active {
    background-color: #04AA6D;
    color: white;
  }