* {
    box-sizing: border-box;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }
.edit-form {
    width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.edit-form h1 {
    margin-bottom: 2rem;
    color: #6c757d;
}

.edit-form input, .edit-form textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.edit-form button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.edit-form button:hover {
    background-color: #0056b3;
}
.navbar {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 60px;
    background-color: #343a40;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-menu ul li:hover {
    background-color: #ced4da;
  }
  
  .nav-menu ul li a:hover {
    color: #007bff;
  }
  .active {
    background-color: #04AA6D;
    color: white;
  }